<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>

    $include.template("include-htmlhead.vm")

</head>
<body>

    $include.template("include-header.vm")

<div class="container bc-page-container">
    <div class="row">

        $include.template("include-sidebar.vm")

        <div class="col-md-9">
            <div class="bs-docs-section">

                <div class="page-header">
                    <h1 id="overview">$statusCode</h1>
                </div>
                <p class="lead">$statusText</p>

            </div>

        </div>
    </div>
</div>

    $include.template("include-footer.vm")

</body>