    <footer role="contentinfo">
        <div class="container">
            <p>
                Powered by <a href="http://www.atlassian.com/software/confluence">Confluence</a>
                and <a href="http://www.k15t.com/software/scroll-viewport">Scroll Viewport</a>
                (<a href="http://www.k15t.com/software/scroll-viewport/themes">More Themes</a>).<br/>
                <small>
                    Copyright by <a href="http://www.k15t.com">K15t Software GmbH</a> |
                    <a href="$link.to.page("Imprint")">Imprint</a> |
                    <a href="$link.to.page("Privacy Policy")">Privacy Policy</a>
                </small>
            </p>
        </div>
    </footer>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="${theme.baseUrl}/js/jquery.min.js"></script>
    <script src="${theme.baseUrl}/js/jquery.cycle2.min.js"></script>
    <script src="${theme.baseUrl}/js/bootstrap.js"></script>
    <script src="${theme.baseUrl}/js/prettify.js"></script>
    <script src="${theme.baseUrl}/js/jquery.scroll-tree.js"></script>
    <script src="${theme.baseUrl}/js/app.js"></script>