###macro ( viewport_simple_theme_navigation $children)
##    #foreach($child in $children)
##        #set($isAncestorOfCurrent = $child.isAncestor($page))
##        #set($isCurrent = ($child == $page))
##        <li class="#if($isAncestorOfCurrent || $isCurrent)active#end">
##            <a href="$child.link">$child.title</a>
##            #if($child.hasChildren && ($isAncestorOfCurrent || $isCurrent))
##                <ul class="nav">
##                    #viewport_simple_theme_navigation($child.children)
##                </ul>
##            #end
##        </li>
##    #end
###end

<div class="col-md-3">
    <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav sp-tree bs-sidenav" style="min-height: 180px;"
            data-viewport-id="$viewport.id"
            data-root="$tree.root.link"
            data-current="$page.link">
##            <li><a href="$space.home.link">$space.home.title</a></li>
##            #viewport_simple_theme_navigation( $space.home.children )
##          <li class="#if($isSearch)active#end"><a href="$space.url/search?q=Lorem+Ipsum">Search Results</a></li>
##          <li class="#if($isError)active#end"><a href="$space.url/404-page">404 Page</a></li>
        </ul>
    </div>
</div>
