<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>

    $include.template("include-htmlhead.vm")

</head>
<body>

    $include.template("include-header.vm")

    <div class="container bc-page-container">
        <div class="row">

            $include.template("include-sidebar.vm")

            <div class="col-md-9">
                <div class="bs-docs-section">

                    <div class="page-header">
                        <h1 id="overview">Search</h1>
                    </div>

                    <form action="${space.url}../search" method="GET" class="form-inline text-center" role="form" style="margin-bottom: 2em;">
                        <div class="form-group">
                            <label class="sr-only" for="searchQuery">Email address</label>
                            <input class="form-control input-lg" id="searchQuery" name="q" type="text" placeholder="Enter Search" value="$!searchRequest.queryString" />
                        </div>
                        <button class="btn btn-primary btn-lg" type="submit">Search</button>
                    </form>

                    <p class="lead">Search for "<em>$searchRequest.queryString</em>" returned $searchResults.total results:</p>

                    <div class="list-group">
                        #foreach($result in $searchResults.results)
                            <a href="$result.link" class="list-group-item">
                                <h4 class="list-group-item-heading">$result.displayTitle</h4>
                                <p class="list-group-item-text">
                                    <span style="color: #008292">$result.absoluteLink</span>
                                    <br />
                                    $result.getDescription(280)
                                </p>
                            </a>
                        #end
                    </div>

                </div>

            </div>
        </div>
    </div>

    $include.template("include-footer.vm")

</body>